node_modules
.next/build-manifest.json
.next/BUILD_ID
.next/cache/next-server.js.nft.json
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/export-marker.json
.next/images-manifest.json
.next/next-server.js.nft.json
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/required-server-files.json
.next/routes-manifest.json
.next/server/chunks/122.js
.next/server/chunks/152.js
.next/server/chunks/622.js
.next/server/chunks/730.js
.next/server/chunks/859.js
.next/server/chunks/font-manifest.json
.next/server/font-manifest.json
.next/server/middleware-manifest.json
.next/server/pages-manifest.json
.next/server/pages/404.html
.next/server/pages/500.html
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/server/pages/api/hello.js
.next/server/pages/api/hello.js.nft.json
.next/server/pages/dashboard.html
.next/server/pages/dashboard.js.nft.json
.next/server/pages/index.html
.next/server/pages/index.js.nft.json
.next/server/webpack-api-runtime.js
.next/server/webpack-runtime.js
.next/static/chunks/147-21992e45c504faa3.js
.next/static/chunks/622-b8beb91fb7c67fbe.js
.next/static/chunks/75fc9c18-4d2f0a9f494a9dad.js
.next/static/chunks/framework-8957c350a55da097.js
.next/static/chunks/main-227e205eee84911a.js
.next/static/chunks/pages/_app-79759527af8e36d4.js
.next/static/chunks/pages/_error-2280fa386d040b66.js
.next/static/chunks/pages/dashboard-0c7c982603edc678.js
.next/static/chunks/pages/index-e5e1209f161cef36.js
.next/static/chunks/polyfills-5cd94c89d3acac5f.js
.next/static/chunks/webpack-36e001011ba1e4b7.js
.next/static/css/37b9f4d94593c943.css
.next/static/css/3ccd997d2d2b0edb.css
.next/static/ZglXkCOhgy4A5B2hUnGaK/_buildManifest.js
.next/static/ZglXkCOhgy4A5B2hUnGaK/_middlewareManifest.js
.next/static/ZglXkCOhgy4A5B2hUnGaK/_ssgManifest.js
.next/trace
